<%- include('partials/header') %>

<div class="container">

    <div class="user-info text-center">
        <img src="/<%= user.image %>" class="profile-picture mb-3">
        <!--    name, email id , phone -->
        <h3 class=""><%= user.name %></h3>

        <% if(Session.userId == user.id) { %>
            <div class="mb-3">
                <p><%= user.phone %></p>
                <p><%= user.email %></p>
            </div>
            <a href="/users/update" class="custom-btn call-btn"> Update Profile </a> &nbsp;&nbsp;
            <a href="/users/reset" class="custom-btn reset-btn"> Change Password </a>

        <% } else { %>
            <a href="tel:+91<%= user.phone %>" class="custom-btn call-btn"> Call </a> &nbsp;&nbsp;
            <a href="mailto:<%= user.email %>" class="custom-btn email-btn"> Email </a>
        <% } %>

    </div>

    <hr style="max-width: 600px">


    <link rel="stylesheet" href="/css/feed.css">

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="col-md-6 m-auto profile-h4">
                <center>
                    <h4>
                        <% if(Session.userId == user.id) { %>
                            Your
                        <% } %>
                        Posts
                    </h4>


                </center>
                <% if(postItems.length == 0) { %>
                    <center style="color: grey;">You haven't posted anything yet!</center>
                <% } else { %>
                    <%- include('partials/posts') %>
                <% } %>

            </div>
        </div>
    </div>

</div>


<%- include('partials/footer') %>